<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tbcloud.node.model.mapper.NodeInfoMapper">
  <resultMap id="BaseResultMap" type="tbcloud.node.model.NodeInfo">
    <id column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="manufactory" jdbcType="VARCHAR" property="manufactory" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="firmware" jdbcType="VARCHAR" property="firmware" />
    <result column="bind_time" jdbcType="BIGINT" property="bindTime" />
    <result column="is_bind" jdbcType="TINYINT" property="isBind" />
    <result column="is_share" jdbcType="TINYINT" property="isShare" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="partner" jdbcType="VARCHAR" property="partner" />
    <result column="memory" jdbcType="INTEGER" property="memory" />
    <result column="disk" jdbcType="INTEGER" property="disk" />
    <result column="upstream" jdbcType="INTEGER" property="upstream" />
    <result column="downstream" jdbcType="INTEGER" property="downstream" />
    <result column="unbind_time" jdbcType="BIGINT" property="unbindTime" />
    <result column="share_time" jdbcType="BIGINT" property="shareTime" />
    <result column="unshare_time" jdbcType="BIGINT" property="unshareTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    node_id, manufactory, model, firmware, bind_time, is_bind, is_share, comment, create_time, 
    update_time, is_delete, partner, memory, disk, upstream, downstream, unbind_time, 
    share_time, unshare_time, user_id, ip, name
  </sql>
  <select id="selectByExample" parameterType="tbcloud.node.model.NodeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from node_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_info
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from node_info
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="tbcloud.node.model.NodeInfoExample">
    delete from node_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tbcloud.node.model.NodeInfo">
    insert into node_info (node_id, manufactory, model, 
      firmware, bind_time, is_bind, 
      is_share, comment, create_time, 
      update_time, is_delete, partner, 
      memory, disk, upstream, 
      downstream, unbind_time, share_time, 
      unshare_time, user_id, ip, 
      name)
    values (#{nodeId,jdbcType=VARCHAR}, #{manufactory,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{firmware,jdbcType=VARCHAR}, #{bindTime,jdbcType=BIGINT}, #{isBind,jdbcType=TINYINT}, 
      #{isShare,jdbcType=TINYINT}, #{comment,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{isDelete,jdbcType=TINYINT}, #{partner,jdbcType=VARCHAR}, 
      #{memory,jdbcType=INTEGER}, #{disk,jdbcType=INTEGER}, #{upstream,jdbcType=INTEGER}, 
      #{downstream,jdbcType=INTEGER}, #{unbindTime,jdbcType=BIGINT}, #{shareTime,jdbcType=BIGINT}, 
      #{unshareTime,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="tbcloud.node.model.NodeInfo">
    insert into node_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="manufactory != null">
        manufactory,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="firmware != null">
        firmware,
      </if>
      <if test="bindTime != null">
        bind_time,
      </if>
      <if test="isBind != null">
        is_bind,
      </if>
      <if test="isShare != null">
        is_share,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="partner != null">
        partner,
      </if>
      <if test="memory != null">
        memory,
      </if>
      <if test="disk != null">
        disk,
      </if>
      <if test="upstream != null">
        upstream,
      </if>
      <if test="downstream != null">
        downstream,
      </if>
      <if test="unbindTime != null">
        unbind_time,
      </if>
      <if test="shareTime != null">
        share_time,
      </if>
      <if test="unshareTime != null">
        unshare_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="manufactory != null">
        #{manufactory,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="firmware != null">
        #{firmware,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        #{bindTime,jdbcType=BIGINT},
      </if>
      <if test="isBind != null">
        #{isBind,jdbcType=TINYINT},
      </if>
      <if test="isShare != null">
        #{isShare,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="partner != null">
        #{partner,jdbcType=VARCHAR},
      </if>
      <if test="memory != null">
        #{memory,jdbcType=INTEGER},
      </if>
      <if test="disk != null">
        #{disk,jdbcType=INTEGER},
      </if>
      <if test="upstream != null">
        #{upstream,jdbcType=INTEGER},
      </if>
      <if test="downstream != null">
        #{downstream,jdbcType=INTEGER},
      </if>
      <if test="unbindTime != null">
        #{unbindTime,jdbcType=BIGINT},
      </if>
      <if test="shareTime != null">
        #{shareTime,jdbcType=BIGINT},
      </if>
      <if test="unshareTime != null">
        #{unshareTime,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tbcloud.node.model.NodeInfoExample" resultType="java.lang.Long">
    select count(*) from node_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update node_info
    <set>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.manufactory != null">
        manufactory = #{record.manufactory,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.firmware != null">
        firmware = #{record.firmware,jdbcType=VARCHAR},
      </if>
      <if test="record.bindTime != null">
        bind_time = #{record.bindTime,jdbcType=BIGINT},
      </if>
      <if test="record.isBind != null">
        is_bind = #{record.isBind,jdbcType=TINYINT},
      </if>
      <if test="record.isShare != null">
        is_share = #{record.isShare,jdbcType=TINYINT},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.partner != null">
        partner = #{record.partner,jdbcType=VARCHAR},
      </if>
      <if test="record.memory != null">
        memory = #{record.memory,jdbcType=INTEGER},
      </if>
      <if test="record.disk != null">
        disk = #{record.disk,jdbcType=INTEGER},
      </if>
      <if test="record.upstream != null">
        upstream = #{record.upstream,jdbcType=INTEGER},
      </if>
      <if test="record.downstream != null">
        downstream = #{record.downstream,jdbcType=INTEGER},
      </if>
      <if test="record.unbindTime != null">
        unbind_time = #{record.unbindTime,jdbcType=BIGINT},
      </if>
      <if test="record.shareTime != null">
        share_time = #{record.shareTime,jdbcType=BIGINT},
      </if>
      <if test="record.unshareTime != null">
        unshare_time = #{record.unshareTime,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update node_info
    set node_id = #{record.nodeId,jdbcType=VARCHAR},
      manufactory = #{record.manufactory,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      firmware = #{record.firmware,jdbcType=VARCHAR},
      bind_time = #{record.bindTime,jdbcType=BIGINT},
      is_bind = #{record.isBind,jdbcType=TINYINT},
      is_share = #{record.isShare,jdbcType=TINYINT},
      comment = #{record.comment,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      partner = #{record.partner,jdbcType=VARCHAR},
      memory = #{record.memory,jdbcType=INTEGER},
      disk = #{record.disk,jdbcType=INTEGER},
      upstream = #{record.upstream,jdbcType=INTEGER},
      downstream = #{record.downstream,jdbcType=INTEGER},
      unbind_time = #{record.unbindTime,jdbcType=BIGINT},
      share_time = #{record.shareTime,jdbcType=BIGINT},
      unshare_time = #{record.unshareTime,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      ip = #{record.ip,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tbcloud.node.model.NodeInfo">
    update node_info
    <set>
      <if test="manufactory != null">
        manufactory = #{manufactory,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="firmware != null">
        firmware = #{firmware,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null">
        bind_time = #{bindTime,jdbcType=BIGINT},
      </if>
      <if test="isBind != null">
        is_bind = #{isBind,jdbcType=TINYINT},
      </if>
      <if test="isShare != null">
        is_share = #{isShare,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="partner != null">
        partner = #{partner,jdbcType=VARCHAR},
      </if>
      <if test="memory != null">
        memory = #{memory,jdbcType=INTEGER},
      </if>
      <if test="disk != null">
        disk = #{disk,jdbcType=INTEGER},
      </if>
      <if test="upstream != null">
        upstream = #{upstream,jdbcType=INTEGER},
      </if>
      <if test="downstream != null">
        downstream = #{downstream,jdbcType=INTEGER},
      </if>
      <if test="unbindTime != null">
        unbind_time = #{unbindTime,jdbcType=BIGINT},
      </if>
      <if test="shareTime != null">
        share_time = #{shareTime,jdbcType=BIGINT},
      </if>
      <if test="unshareTime != null">
        unshare_time = #{unshareTime,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tbcloud.node.model.NodeInfo">
    update node_info
    set manufactory = #{manufactory,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      firmware = #{firmware,jdbcType=VARCHAR},
      bind_time = #{bindTime,jdbcType=BIGINT},
      is_bind = #{isBind,jdbcType=TINYINT},
      is_share = #{isShare,jdbcType=TINYINT},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      partner = #{partner,jdbcType=VARCHAR},
      memory = #{memory,jdbcType=INTEGER},
      disk = #{disk,jdbcType=INTEGER},
      upstream = #{upstream,jdbcType=INTEGER},
      downstream = #{downstream,jdbcType=INTEGER},
      unbind_time = #{unbindTime,jdbcType=BIGINT},
      share_time = #{shareTime,jdbcType=BIGINT},
      unshare_time = #{unshareTime,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      ip = #{ip,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where node_id = #{nodeId,jdbcType=VARCHAR}
  </update>
</mapper>