<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tbcloud.node.model.mapper.NodeDeviceMapper">
  <resultMap id="BaseResultMap" type="tbcloud.node.model.NodeDevice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="on_time" jdbcType="BIGINT" property="onTime" />
    <result column="off_time" jdbcType="BIGINT" property="offTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="is_block" jdbcType="TINYINT" property="isBlock" />
    <result column="mac_vendor" jdbcType="VARCHAR" property="macVendor" />
    <result column="mac_icon" jdbcType="VARCHAR" property="macIcon" />
    <result column="local_ip" jdbcType="VARCHAR" property="localIp" />
    <result column="is_record" jdbcType="TINYINT" property="isRecord" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mac, name, on_time, off_time, status, note, node_id, create_time, update_time, 
    is_delete, is_block, mac_vendor, mac_icon, local_ip, is_record
  </sql>
  <select id="selectByExample" parameterType="tbcloud.node.model.NodeDeviceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from node_device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_device
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node_device
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="tbcloud.node.model.NodeDeviceExample">
    delete from node_device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tbcloud.node.model.NodeDevice">
    insert into node_device (id, mac, name, 
      on_time, off_time, status, 
      note, node_id, create_time, 
      update_time, is_delete, is_block, 
      mac_vendor, mac_icon, local_ip, 
      is_record)
    values (#{id,jdbcType=BIGINT}, #{mac,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{onTime,jdbcType=BIGINT}, #{offTime,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{isDelete,jdbcType=TINYINT}, #{isBlock,jdbcType=TINYINT}, 
      #{macVendor,jdbcType=VARCHAR}, #{macIcon,jdbcType=VARCHAR}, #{localIp,jdbcType=VARCHAR}, 
      #{isRecord,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="tbcloud.node.model.NodeDevice">
    insert into node_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="onTime != null">
        on_time,
      </if>
      <if test="offTime != null">
        off_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isBlock != null">
        is_block,
      </if>
      <if test="macVendor != null">
        mac_vendor,
      </if>
      <if test="macIcon != null">
        mac_icon,
      </if>
      <if test="localIp != null">
        local_ip,
      </if>
      <if test="isRecord != null">
        is_record,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="onTime != null">
        #{onTime,jdbcType=BIGINT},
      </if>
      <if test="offTime != null">
        #{offTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isBlock != null">
        #{isBlock,jdbcType=TINYINT},
      </if>
      <if test="macVendor != null">
        #{macVendor,jdbcType=VARCHAR},
      </if>
      <if test="macIcon != null">
        #{macIcon,jdbcType=VARCHAR},
      </if>
      <if test="localIp != null">
        #{localIp,jdbcType=VARCHAR},
      </if>
      <if test="isRecord != null">
        #{isRecord,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tbcloud.node.model.NodeDeviceExample" resultType="java.lang.Long">
    select count(*) from node_device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update node_device
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mac != null">
        mac = #{record.mac,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.onTime != null">
        on_time = #{record.onTime,jdbcType=BIGINT},
      </if>
      <if test="record.offTime != null">
        off_time = #{record.offTime,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.isBlock != null">
        is_block = #{record.isBlock,jdbcType=TINYINT},
      </if>
      <if test="record.macVendor != null">
        mac_vendor = #{record.macVendor,jdbcType=VARCHAR},
      </if>
      <if test="record.macIcon != null">
        mac_icon = #{record.macIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.localIp != null">
        local_ip = #{record.localIp,jdbcType=VARCHAR},
      </if>
      <if test="record.isRecord != null">
        is_record = #{record.isRecord,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update node_device
    set id = #{record.id,jdbcType=BIGINT},
      mac = #{record.mac,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      on_time = #{record.onTime,jdbcType=BIGINT},
      off_time = #{record.offTime,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      note = #{record.note,jdbcType=VARCHAR},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      is_block = #{record.isBlock,jdbcType=TINYINT},
      mac_vendor = #{record.macVendor,jdbcType=VARCHAR},
      mac_icon = #{record.macIcon,jdbcType=VARCHAR},
      local_ip = #{record.localIp,jdbcType=VARCHAR},
      is_record = #{record.isRecord,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tbcloud.node.model.NodeDevice">
    update node_device
    <set>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="onTime != null">
        on_time = #{onTime,jdbcType=BIGINT},
      </if>
      <if test="offTime != null">
        off_time = #{offTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="isBlock != null">
        is_block = #{isBlock,jdbcType=TINYINT},
      </if>
      <if test="macVendor != null">
        mac_vendor = #{macVendor,jdbcType=VARCHAR},
      </if>
      <if test="macIcon != null">
        mac_icon = #{macIcon,jdbcType=VARCHAR},
      </if>
      <if test="localIp != null">
        local_ip = #{localIp,jdbcType=VARCHAR},
      </if>
      <if test="isRecord != null">
        is_record = #{isRecord,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tbcloud.node.model.NodeDevice">
    update node_device
    set mac = #{mac,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      on_time = #{onTime,jdbcType=BIGINT},
      off_time = #{offTime,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      is_block = #{isBlock,jdbcType=TINYINT},
      mac_vendor = #{macVendor,jdbcType=VARCHAR},
      mac_icon = #{macIcon,jdbcType=VARCHAR},
      local_ip = #{localIp,jdbcType=VARCHAR},
      is_record = #{isRecord,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>