<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tbcloud.node.model.mapper.NodeDeviceAllowMapper">
  <resultMap id="BaseResultMap" type="tbcloud.node.model.NodeDeviceAllow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="st" jdbcType="VARCHAR" property="st" />
    <result column="et" jdbcType="VARCHAR" property="et" />
    <result column="wt" jdbcType="INTEGER" property="wt" />
    <result column="op" jdbcType="INTEGER" property="op" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, node_id, mac, st, et, wt, op, create_time, update_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="tbcloud.node.model.NodeDeviceAllowExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from node_device_allow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from node_device_allow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from node_device_allow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="tbcloud.node.model.NodeDeviceAllowExample">
    delete from node_device_allow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tbcloud.node.model.NodeDeviceAllow">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into node_device_allow (name, node_id, mac, 
      st, et, wt, op, 
      create_time, update_time, is_delete
      )
    values (#{name,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, 
      #{st,jdbcType=VARCHAR}, #{et,jdbcType=VARCHAR}, #{wt,jdbcType=INTEGER}, #{op,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="tbcloud.node.model.NodeDeviceAllow">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into node_device_allow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="st != null">
        st,
      </if>
      <if test="et != null">
        et,
      </if>
      <if test="wt != null">
        wt,
      </if>
      <if test="op != null">
        op,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="st != null">
        #{st,jdbcType=VARCHAR},
      </if>
      <if test="et != null">
        #{et,jdbcType=VARCHAR},
      </if>
      <if test="wt != null">
        #{wt,jdbcType=INTEGER},
      </if>
      <if test="op != null">
        #{op,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tbcloud.node.model.NodeDeviceAllowExample" resultType="java.lang.Long">
    select count(*) from node_device_allow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update node_device_allow
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.mac != null">
        mac = #{record.mac,jdbcType=VARCHAR},
      </if>
      <if test="record.st != null">
        st = #{record.st,jdbcType=VARCHAR},
      </if>
      <if test="record.et != null">
        et = #{record.et,jdbcType=VARCHAR},
      </if>
      <if test="record.wt != null">
        wt = #{record.wt,jdbcType=INTEGER},
      </if>
      <if test="record.op != null">
        op = #{record.op,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update node_device_allow
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      mac = #{record.mac,jdbcType=VARCHAR},
      st = #{record.st,jdbcType=VARCHAR},
      et = #{record.et,jdbcType=VARCHAR},
      wt = #{record.wt,jdbcType=INTEGER},
      op = #{record.op,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tbcloud.node.model.NodeDeviceAllow">
    update node_device_allow
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="st != null">
        st = #{st,jdbcType=VARCHAR},
      </if>
      <if test="et != null">
        et = #{et,jdbcType=VARCHAR},
      </if>
      <if test="wt != null">
        wt = #{wt,jdbcType=INTEGER},
      </if>
      <if test="op != null">
        op = #{op,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tbcloud.node.model.NodeDeviceAllow">
    update node_device_allow
    set name = #{name,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      st = #{st,jdbcType=VARCHAR},
      et = #{et,jdbcType=VARCHAR},
      wt = #{wt,jdbcType=INTEGER},
      op = #{op,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>