<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tbcloud.httpproxy.model.mapper.HttpProxyRecordMapper">
  <resultMap id="BaseResultMap" type="tbcloud.httpproxy.model.HttpProxyRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="req_uri" jdbcType="VARCHAR" property="reqUri" />
    <result column="req_method" jdbcType="VARCHAR" property="reqMethod" />
    <result column="req_protocol" jdbcType="VARCHAR" property="reqProtocol" />
    <result column="req_size" jdbcType="INTEGER" property="reqSize" />
    <result column="rsp_code" jdbcType="INTEGER" property="rspCode" />
    <result column="rsp_reason" jdbcType="VARCHAR" property="rspReason" />
    <result column="rsp_size" jdbcType="INTEGER" property="rspSize" />
    <result column="req_time" jdbcType="BIGINT" property="reqTime" />
    <result column="rsp_time" jdbcType="BIGINT" property="rspTime" />
    <result column="proxy_send_time" jdbcType="BIGINT" property="proxySendTime" />
    <result column="proxy_recv_time" jdbcType="BIGINT" property="proxyRecvTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="proxy_cost" jdbcType="INTEGER" property="proxyCost" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, req_uri, req_method, req_protocol, req_size, rsp_code, rsp_reason, rsp_size, 
    req_time, rsp_time, proxy_send_time, proxy_recv_time, create_time, update_time, is_delete, 
    node_id, proxy_cost
  </sql>
  <select id="selectByExample" parameterType="tbcloud.httpproxy.model.HttpProxyRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from httpproxy_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from httpproxy_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from httpproxy_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="tbcloud.httpproxy.model.HttpProxyRecordExample">
    delete from httpproxy_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tbcloud.httpproxy.model.HttpProxyRecord">
    insert into httpproxy_record (id, user_id, req_uri, 
      req_method, req_protocol, req_size, 
      rsp_code, rsp_reason, rsp_size, 
      req_time, rsp_time, proxy_send_time, 
      proxy_recv_time, create_time, update_time, 
      is_delete, node_id, proxy_cost
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{reqUri,jdbcType=VARCHAR}, 
      #{reqMethod,jdbcType=VARCHAR}, #{reqProtocol,jdbcType=VARCHAR}, #{reqSize,jdbcType=INTEGER}, 
      #{rspCode,jdbcType=INTEGER}, #{rspReason,jdbcType=VARCHAR}, #{rspSize,jdbcType=INTEGER}, 
      #{reqTime,jdbcType=BIGINT}, #{rspTime,jdbcType=BIGINT}, #{proxySendTime,jdbcType=BIGINT}, 
      #{proxyRecvTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{isDelete,jdbcType=TINYINT}, #{nodeId,jdbcType=VARCHAR}, #{proxyCost,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="tbcloud.httpproxy.model.HttpProxyRecord">
    insert into httpproxy_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="reqUri != null">
        req_uri,
      </if>
      <if test="reqMethod != null">
        req_method,
      </if>
      <if test="reqProtocol != null">
        req_protocol,
      </if>
      <if test="reqSize != null">
        req_size,
      </if>
      <if test="rspCode != null">
        rsp_code,
      </if>
      <if test="rspReason != null">
        rsp_reason,
      </if>
      <if test="rspSize != null">
        rsp_size,
      </if>
      <if test="reqTime != null">
        req_time,
      </if>
      <if test="rspTime != null">
        rsp_time,
      </if>
      <if test="proxySendTime != null">
        proxy_send_time,
      </if>
      <if test="proxyRecvTime != null">
        proxy_recv_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="proxyCost != null">
        proxy_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="reqUri != null">
        #{reqUri,jdbcType=VARCHAR},
      </if>
      <if test="reqMethod != null">
        #{reqMethod,jdbcType=VARCHAR},
      </if>
      <if test="reqProtocol != null">
        #{reqProtocol,jdbcType=VARCHAR},
      </if>
      <if test="reqSize != null">
        #{reqSize,jdbcType=INTEGER},
      </if>
      <if test="rspCode != null">
        #{rspCode,jdbcType=INTEGER},
      </if>
      <if test="rspReason != null">
        #{rspReason,jdbcType=VARCHAR},
      </if>
      <if test="rspSize != null">
        #{rspSize,jdbcType=INTEGER},
      </if>
      <if test="reqTime != null">
        #{reqTime,jdbcType=BIGINT},
      </if>
      <if test="rspTime != null">
        #{rspTime,jdbcType=BIGINT},
      </if>
      <if test="proxySendTime != null">
        #{proxySendTime,jdbcType=BIGINT},
      </if>
      <if test="proxyRecvTime != null">
        #{proxyRecvTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="proxyCost != null">
        #{proxyCost,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tbcloud.httpproxy.model.HttpProxyRecordExample" resultType="java.lang.Long">
    select count(*) from httpproxy_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update httpproxy_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.reqUri != null">
        req_uri = #{record.reqUri,jdbcType=VARCHAR},
      </if>
      <if test="record.reqMethod != null">
        req_method = #{record.reqMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.reqProtocol != null">
        req_protocol = #{record.reqProtocol,jdbcType=VARCHAR},
      </if>
      <if test="record.reqSize != null">
        req_size = #{record.reqSize,jdbcType=INTEGER},
      </if>
      <if test="record.rspCode != null">
        rsp_code = #{record.rspCode,jdbcType=INTEGER},
      </if>
      <if test="record.rspReason != null">
        rsp_reason = #{record.rspReason,jdbcType=VARCHAR},
      </if>
      <if test="record.rspSize != null">
        rsp_size = #{record.rspSize,jdbcType=INTEGER},
      </if>
      <if test="record.reqTime != null">
        req_time = #{record.reqTime,jdbcType=BIGINT},
      </if>
      <if test="record.rspTime != null">
        rsp_time = #{record.rspTime,jdbcType=BIGINT},
      </if>
      <if test="record.proxySendTime != null">
        proxy_send_time = #{record.proxySendTime,jdbcType=BIGINT},
      </if>
      <if test="record.proxyRecvTime != null">
        proxy_recv_time = #{record.proxyRecvTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.nodeId != null">
        node_id = #{record.nodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.proxyCost != null">
        proxy_cost = #{record.proxyCost,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update httpproxy_record
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      req_uri = #{record.reqUri,jdbcType=VARCHAR},
      req_method = #{record.reqMethod,jdbcType=VARCHAR},
      req_protocol = #{record.reqProtocol,jdbcType=VARCHAR},
      req_size = #{record.reqSize,jdbcType=INTEGER},
      rsp_code = #{record.rspCode,jdbcType=INTEGER},
      rsp_reason = #{record.rspReason,jdbcType=VARCHAR},
      rsp_size = #{record.rspSize,jdbcType=INTEGER},
      req_time = #{record.reqTime,jdbcType=BIGINT},
      rsp_time = #{record.rspTime,jdbcType=BIGINT},
      proxy_send_time = #{record.proxySendTime,jdbcType=BIGINT},
      proxy_recv_time = #{record.proxyRecvTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      node_id = #{record.nodeId,jdbcType=VARCHAR},
      proxy_cost = #{record.proxyCost,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tbcloud.httpproxy.model.HttpProxyRecord">
    update httpproxy_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="reqUri != null">
        req_uri = #{reqUri,jdbcType=VARCHAR},
      </if>
      <if test="reqMethod != null">
        req_method = #{reqMethod,jdbcType=VARCHAR},
      </if>
      <if test="reqProtocol != null">
        req_protocol = #{reqProtocol,jdbcType=VARCHAR},
      </if>
      <if test="reqSize != null">
        req_size = #{reqSize,jdbcType=INTEGER},
      </if>
      <if test="rspCode != null">
        rsp_code = #{rspCode,jdbcType=INTEGER},
      </if>
      <if test="rspReason != null">
        rsp_reason = #{rspReason,jdbcType=VARCHAR},
      </if>
      <if test="rspSize != null">
        rsp_size = #{rspSize,jdbcType=INTEGER},
      </if>
      <if test="reqTime != null">
        req_time = #{reqTime,jdbcType=BIGINT},
      </if>
      <if test="rspTime != null">
        rsp_time = #{rspTime,jdbcType=BIGINT},
      </if>
      <if test="proxySendTime != null">
        proxy_send_time = #{proxySendTime,jdbcType=BIGINT},
      </if>
      <if test="proxyRecvTime != null">
        proxy_recv_time = #{proxyRecvTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="proxyCost != null">
        proxy_cost = #{proxyCost,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tbcloud.httpproxy.model.HttpProxyRecord">
    update httpproxy_record
    set user_id = #{userId,jdbcType=BIGINT},
      req_uri = #{reqUri,jdbcType=VARCHAR},
      req_method = #{reqMethod,jdbcType=VARCHAR},
      req_protocol = #{reqProtocol,jdbcType=VARCHAR},
      req_size = #{reqSize,jdbcType=INTEGER},
      rsp_code = #{rspCode,jdbcType=INTEGER},
      rsp_reason = #{rspReason,jdbcType=VARCHAR},
      rsp_size = #{rspSize,jdbcType=INTEGER},
      req_time = #{reqTime,jdbcType=BIGINT},
      rsp_time = #{rspTime,jdbcType=BIGINT},
      proxy_send_time = #{proxySendTime,jdbcType=BIGINT},
      proxy_recv_time = #{proxyRecvTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      node_id = #{nodeId,jdbcType=VARCHAR},
      proxy_cost = #{proxyCost,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>